aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-doc
annotated-types
anthropic
anyio
APScheduler
attrs
Authlib
bcrypt
beautifulsoup4
bleach
blinker
CacheControl
cachelib
cachetools
certifi
cffi
charset-normalizer
click
colorama
comtypes
cryptography
debugpy
Deprecated
deprecation
distlib
distro
dnspython
docopt
docstring_parser
ecdsa
edge-tts
email_validator
fastapi
filelock
firebase_admin
Flask
Flask-Bcrypt
Flask-Caching
Flask-Cors
Flask-JWT-Extended
Flask-Limiter
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
Flask-WTF
frozenlist
fsspec
geographiclib
geopy
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-genai
google-generativeai
google-resumable-media
googleapis-common-protos
gotrue
greenlet
grpcio
grpcio-status
gunicorn
h11
h2
hpack
httpcore
httplib2
httpx
hyperframe
idna
itsdangerous
Jinja2
jiter
joblib
Js2Py
limits
Mako
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
MouseInfo
msgpack
multidict
numpy
openai
ordered-set
packaging
pandas
passlib
pillow
pipwin
platformdirs
postgrest
propcache
proto-plus
protobuf
psutil
psycopg2-binary
pyasn1
pyasn1_modules
PyAudio
PyAutoGUI
pycparser
pydantic
pydantic_core
PyGetWindow
Pygments
pyiceberg
pyjokes
pyjsparser
PyJWT
PyMsgBox
pyotp
pyparsing
pyperclip
pypiwin32
PyPrind
PyRect
pyroaring
PyScreeze
pySmartDL
python-dateutil
python-dotenv
python-jose
python-multipart
pyttsx3
pytweening
pytz
pywhatkit
pywin32
qrcode
razorpay
realtime
redis
reportlab
requests
rich
rsa
scikit-learn
scipy
setuptools
six
sniffio
sounddevice
soupsieve
SpeechRecognition
SQLAlchemy
srt
sse-starlette
starlette
storage3
StrEnum
strictyaml
supabase
supabase-auth
supabase-functions
supafunc
tabulate
tenacity
threadpoolctl
tqdm
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
uvicorn
virtualenv
vosk
webencodings
websockets
Werkzeug
wikipedia
Wikipedia-API
wrapt
WTForms
yarl
zhipuai
zstandard
